$color-dark: #213555;
$color-dark-highlight: #3E5879;

$color-medium: #D8C4B6;

$color-light: #ebd9cd;
$color-light1: #f1e2d7;

$color-bright: #F5EFE7;
$color-brightest: #fff9f2;

$mobile-cutoff-width: 720px;